* {
    margin: 0px;
    padding: 0px;
}

.campo {
    display: block;
    margin: 18px auto;
    padding-left: 10px;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 80%;
    font-size: 1.2em;
    border: 1px solid #CF251F;
}

#boton {
    margin: 0 auto;
}

#botone{
    margin: 0 auto;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E74337;
    padding: 9px 20px;
    font-size: 1.2em;
}
}


.formsq {
    width: inherit;
    background-color: #fff;
    height: 20%;
    text-align: center;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

 h2 {
    text-align: center;
    color: #000;
    font-size: ;
    font-family:;
}


.asignar{
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E74337;
    padding: 9px 20px;
    font-size: 1.2em;
}
