* {
    margin: 0px;
    padding: 0px;
}

.campo {
    display: block;
    margin: 18px auto;
    padding-left: 10px;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 80%;
    font-size: 1.2em;
    border: 1px solid #CF251F;
    resize: none;
}

#boton {
    margin: 0 auto;
}


.formqs {
    width: 65%;
    background-color: #fff;
    height: 65%;
    text-align: center;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid #E74337;

}

#cuerpo p{
    text-align: center;
    color: #000;
    font-family: ;
}




.submit{
    margin: 0 auto;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E74337;
    padding: 9px 20px;
    font-size: 1.2em;
}
.registrar{
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E74337;
    padding: 9px 20px;
    font-size: 1.2em;
}